{% extends "baseAdmin.html.twig" %}

{% block titreContenu %}	<h5>PAGE DE CONSULTATION D'UN PROJET</h5> {% endblock %}

{% block contenu %} 
	
  <div class="m-4">
 <p>
  <table >
    <tr><td>Id : </td><td>{{projet.id}} </td></tr>
	  <tr><td>dateDebut : </td><td>{{projet.dateDebut.format('d-m-Y')}}</td>
    <tr><td>dateFin : </td><td>{{projet.dateFin.format('d-m-Y')}}</td>   
    <tr><td>Libelle : </td><td>{{projet.libelle}}</td>
    
    <tr><td>matiere : </td><td>{{projet.getMatiere.matiere_id}}</td>

	
 </table>
 <div>
	
	 {% endblock %}