{% extends templateTwigParent %}
{% block titreContenu %}Liste des projets{% endblock %}


{% block contenu%}

 
</br>
     <div class="col-lg-12">
                  <div class="card">
                               		
                    <div class="card-body">

                      <input style="width: 20%; margin: 3vh 0;" class="form-control" onkeyup="search_group()" id="search_group" type="text" placeholder="Rechercher un nom de projet">
                      
                      <div class="table-responsive">   
                        <table class="table table-striped table-sm" id="table_projet">
                          <thead>
                            <tr>
                              <th>id</th>
                              <th>dateDebut</th>
                              <th>dateFin</th>
                              <th>libelle</th>
                              <th>matiere</th>
                              <th>enseignant</th>
                              <th>groupe</th>
                              <th>projetTypes</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for p in projets  %}
                            <tr>
                              <th scope="row">{{p.id}} </th>
                              <td>{{p.dateDebut.format('d-m-Y')}}</a></td>
                              <td>{{p.dateFin.format('d-m-Y')}}</a></td>
                              <td><a class="text" href="test">{{p.libelle}}</a></td>
                              <td>
                              {% for matiere in p.matiere  %}
                                <a class="text" href="test">{{matiere.libelle}}</a>
                              {% endfor %}
                              </td>
                              <td>
                              {% for enseignant in p.enseignant  %}
                                <a class="text" href="test">{{enseignant.nom}}</a>
                              {% endfor %}
                              </td>
                              <td>
                              {% for groupe in p.groupe  %}
                                <a class="text" href="test">{{groupe.libelle}}</a>
                              {% endfor %}
                              </td>
                              <td>
                              {% for typeProjets in p.typeProjets  %}
                                <a class="text" href="test">{{typeProjets.libelle}}, </a>
                              {% endfor %}
                              </td>

                            </tr>
                            {% endfor %}
                         </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>      
{% endblock %}




{% block javascripts %}
    <script>

  function search_group() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("search_group");
    filter = input.value.toUpperCase();
    table = document.getElementById("table_group");
    tr = table.getElementsByTagName("tr");

    console.log(input);

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
    
    
    
    </script>
{% endblock %}