{% extends 'baseAdmin.html.twig' %}

{% block contenu%}
</br>
     <div class="col-lg-10">
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>	

                    		
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4"><h3 class="h4"> Liste  </h3>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">   
                       
            

                      </div>
                    </div>
                  </div>
                </div>      


                 <!-- Fil d'actualité --> 
                 <div class="col-lg 10">
                  <div class="card mb-0">
                    <div class="card-header position-relative">
                      <div class="card-close">
                        <div class="dropdown">
                          <button class="dropdown-toggle text-sm" type="button" id="closeCard1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                          <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                        </div>
                      </div>
                      <h3 class="h4 mb-0">Fil d'actualité général</h3>
                    </div>
                    <div class="card-body p-0">

                      {% for g in posts|sort((b, a) => a.dateTimePost <=> b.dateTimePost) %}

                        <div class="p-3">
                          <div class="d-flex justify-content-between">
                           {% set photo = 'avatar/etudiant/'~ g.user.etudiant.id ~'.png' %}
                            <div class="d-flex">
                              <a class="flex-shrink-0 mr-2" href="#">
                                <img src="{{ asset(photo | trans )}}" alt="person" width="50" class="img-fluid rounded-circle" onError="this.src='{{ asset('avatar/lambda.png' | trans )}}';">
                              </a>
                              <div class="ms-3">
                                {% if g.user.roles == ["ROLE_ETUDIANT"] %}
                                  <h5>{{g.user.etudiant.prenom}} {{g.user.etudiant.nom}} </h5>
                                {% elseif g.user.roles == ["ROLE_ENSEIGNANT"] %}
                                  <h5>{{g.user.enseignant.prenom}} {{g.user.enseignant.nom}} </h5>
                                {% elseif g.user.roles == ["ROLE_ADMIN"] %}
                                  <h5>{{g.user.email}} (Administrateur) </h5>
                                {% endif %}
                                <div class="row">
                                    <p class="col">a posté dans :</p>
                                    {% for i in g.idgroupe %}
                                      <a href="{{ path('consulterGroupe', { 'id': i.id }) }}">{{i.libelle}}</a>
                                    {% endfor %}
                                    
                                </div>
                              </div>
                            </div>
                            <div class="text-right">
                              <button type="button" class="btn btn-red" data-toggle="modal" data-target="#exampleModalCenter">
                              Supprimer
                            </button>
                              <small class="text-gray-500">{{g.dateTimePost.format('d-m-Y H:i')}}</small> 
                            </div>
                          </div>
                          <div class="mt-3 ms-5 ps-3">
                            <div class="bg-light postBulle p-3 shadow-sm"><p>{{g.description}}</p></div>
                          </div>
                        </div>

                          <!-- Modal Post Groups-->
                          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Supprimer ce post ?</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                                  <a href="{{ path('supprimerPost', { 'id': g.id }) }}">Supprimer</a>
                                </div>
                              </div>
                            </div>
                          </div>


                      {% endfor %}

                    </div>
                  </div>
                </div>

                <br/>
{% endblock %}
   