{% extends templateTwigParent %}

{% block titreContenu %}	

  <div class="container-fluid px-0">
      <h2 class="mb-0">{{groupe.libelle}}</h2>
      <span class="text-sm text-gray-600 d-none d-sm-block">Groupe de {{groupe.groupeType.libelle}}</span>
  </div>

{% endblock %}

{% block contenu %} 

  
          <section class="dashboard-counts no-padding-bottom">
          
            <div class="container-fluid">
              <div class="row bg-white has-shadow">
                <!-- Item -->
                <div class="col-xl-4 col-sm-6">
               
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-violet"><i class="icon-user"></i></div>
                    <div class="title"> <a href="/SIOCOM_PORTFOLIO/portfolio/public/enseignant/promo/etudiants/list/1/2"><span>Membres<br>du groupe</span></a>
                      <div class="progress">
                        <div role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                      </div>
                    </div>
                    <div class="number"><strong>{{groupe.userId|length}}</strong></div>
                  </div>
                
                </div>
                <!-- Item -->
                <div class="col-xl-4 col-sm-6">
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-red"><i class="icon-user"></i></div>
                    <div class="title"><span> <a href="/SIOCOM_PORTFOLIO/portfolio/public/enseignant/promo/etudiants/list/2/2">Nombre de posts <br> du groupe</a></span>
                      <div class="progress">
                        <div role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                      </div>
                    </div>
                    <div class="number"><strong>{{groupe.posts|length}}</strong></div>
                  </div>
                </div>
                <!-- Item -->
                <div class="col-xl-4 col-sm-6">
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-green"><i class="icon-bill"></i></div>
                    <div class="title"><span> <a href="/SIOCOM_PORTFOLIO/portfolio/public/enseignant/promo/etudiants/list/1/1">Nombre<br>de projets</a></span>
                      <div class="progress">
                        <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
                      </div>
                    </div>
                    <div class="number"><strong>{{groupe.projetEquipes|length}}</strong></div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Projects & Input Section-->
          <section class="pb-0">
            <div class="container-fluid">
              <div class="card-header position-relative">
                <div class="card-close">
                  <div class="dropdown">
                    <button class="dropdown-toggle text-sm" type="button" id="closeCard1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                  </div>
                </div>
                <h2 class="h2 mb-0">Les projets de l'équipe</h2>
              </div>
              <br>
              {% for projet in groupe.projetEquipes  %}
              <!-- Project-->
              <div class="card mb-3">
                <div class="card-body p-3">
                  <div class="row align-items-center gx-lg-5 gy-3">
                    <div class="col-lg-6 border-lg-end">
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                          <div class="ms-3">
                            <h3 class="h4 text-gray-700 mb-0">{{projet.libelle}}</h3>
                            <a href="{{ path('consulterProjetDef', { 'id': projet.projetDef.id }) }}"><small class="text-gray-500">{{projet.projetDef.libelle}}</small> Voir l'énoncé</a>
                          </div>
                        </div><span class="text-sm text-gray-600 d-none d-sm-block">{{projet.projetDef.dateDebut.format('d-m-Y')}}</span>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="progress w-100" style="height: 5px; max-width: 15rem">
                          <div class="progress-bar bg-red" role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <a href='{{ path('consulterProjetEquipe', { 'id': projet.id }) }}'>Voir le projet</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             {% endfor %}

            </div>
          </section>




           <!-- Updates Section-->
          <section>
            <div class="container-fluid">
              <div class="row gy-4">
                <!-- Recent Updates-->
                
                <!-- Daily Feeds -->
                <div class="col-lg 4">
                  <div class="card mb-0">
                    <div class="card-header position-relative">
                      <div class="card-close">
                        <div class="dropdown">
                          <button class="dropdown-toggle text-sm" type="button" id="closeCard1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                          <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                        </div>
                      </div>
                      <h3 class="h4 mb-0">Fil d'actualité général</h3>
                    </div>
                    <div class="card-body p-0">

                      {% for g in groupe.posts|sort((b, a) => a.dateTimePost <=> b.dateTimePost) %}

                        <div class="p-3">
                          <div class="d-flex justify-content-between">
                           {% if "ROLE_ADMIN" in  app.user.roles %}
                            {% set photo = 'avatar/admin.png' %}
                          {% elseif "ROLE_ENSEIGNANT" in  app.user.roles %}
                            {% set photo = 'avatar/enseignant/'~ app.user.enseignant.id ~'.png' %}
                          {% elseif "ROLE_ETUDIANT" in  app.user.roles %}
                            {% set photo = 'avatar/etudiant/'~ app.user.etudiant.id ~'.png' %}
                          {% endif %}
                            <div class="d-flex">
                              <a class="flex-shrink-0 mr-2" href="#">
                                <img src="{{ asset(photo | trans )}}" alt="person" width="50" class="img-fluid rounded-circle" onError="this.src='{{ asset('avatar/lambda.png' | trans )}}';">
                              </a>
                              <div class="ms-3">
                                {% if "ROLE_ADMIN" in  app.user.roles %}                   
                                    <h5>{{app.user.email}} (Administrateur) </h5>
                                  {% elseif "ROLE_ENSEIGNANT" in  app.user.roles %}
                                    <h5>{{app.user.enseignant.prenom}} {{app.user.enseignant.nom}} </h5>
                                  {% elseif "ROLE_ETUDIANT" in  app.user.roles %}
                                    <h5>{{app.user.etudiant.prenom}} {{app.user.etudiant.nom}} </h5>
                                  {% endif %}      
                                <div class="row">
                                    <p class="text-gray-500" >a posté :</p>
                                </div>
                              </div>
                            </div>
                            <div class="text-right">
                              {% if ("ROLE_ADMIN" in  app.user.roles) or g.user == app.user %}          
                              <button type="button" class="btn btn-red" data-toggle="modal" data-target="#exampleModalCenter">Supprimer</button>
                              {% endif %}
                              <small class="text-gray-500">{{g.dateTimePost.format('d-m-Y H:i')}}</small>
                            </div>
                          </div>
                          <div class=" ms-5 ps-3">
                            <div class="bg-light postBulle p-3 shadow-sm"><p>{{g.description}}</p></div>
                          </div>
                        </div>


                          {% if ("ROLE_ADMIN" in  app.user.roles) or g.user == app.user %}                   
                          <!-- Modal Post Groups-->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Supprimer ce post ?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                                        <a href="{{ path('supprimerPost', { 'id': g.id }) }}">Supprimer</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            {% endif %}         


                      {% endfor %}

                    </div>
                  </div>
                </div>




                <!-- Daily Feeds -->
                <div class="col-lg 4 overflow-auto">
                {{ form_start(form) }}              
                  <div class="card mb-0">
                    <div class="card-header position-relative">
                      <div class="card-close">
                        <div class="dropdown">
                          <button class="dropdown-toggle text-sm" type="button" id="closeCard1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                          <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                        </div>
                      </div>
                      <h3 class="h4 mb-0">Nouveau Post</h3>
                    </div>
                    <div class="card-body p-0">
                      <div class="p-3">
                        <div class="d-flex justify-content-between">
                          {% if "ROLE_ADMIN" in  app.user.roles %}
                            {% set photo = 'avatar/admin.png' %}
                          {% elseif "ROLE_ENSEIGNANT" in  app.user.roles %}
                            {% set photo = 'avatar/enseignant/'~ app.user.enseignant.id ~'.png' %}
                          {% elseif "ROLE_ETUDIANT" in  app.user.roles %}
                            {% set photo = 'avatar/etudiant/'~ app.user.etudiant.id ~'.png' %}
                          {% endif %}
                          <div class="d-flex">
                              <a class="flex-shrink-0 mr-2" href="#">
                                <img src="{{ asset(photo | trans )}}" alt="person" width="50" class="img-fluid rounded-circle" onError="this.src='{{ asset('avatar/lambda.png' | trans )}}';">
                              </a>
                            <div class="ms-3">
                                  <p class="mb-1 text-xs text-gray-600 lh-2">Poster en tant que</p>
                                  {% if "ROLE_ADMIN" in  app.user.roles %}                   
                                    <h5>{{app.user.email}} (Administrateur) </h5>
                                  {% elseif "ROLE_ENSEIGNANT" in  app.user.roles %}
                                    <h5>{{app.user.enseignant.prenom}} {{app.user.enseignant.nom}} </h5>
                                  {% elseif "ROLE_ETUDIANT" in  app.user.roles %}
                                    <h5>{{app.user.etudiant.prenom}} {{app.user.etudiant.nom}} </h5>
                                  {% endif %}                  
                            </div>
                          </div>
                        </div>
                        <br>
                        <div>

                            {{ form_widget(form.description) }}
                        </div>
                        <div class="row mt-3">
                          <div class="col">
                            <div class="input-group">    
                              <div class="input-group mb-3">
                                <button type="button" class="btn btn-primary">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                                    <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"></path>
                                    <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"></path>
                                  </svg>
                                </button>
                                <input class="form-control" type="text" placeholder="Ajouter un contenu" aria-label="Example text with button addon" aria-describedby="button-addon1">
                              </div>
                            </div>
                          </div>
                          <div class="text-end col"> {{ form_widget(form.enregistrer) }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{ form_end(form) }}
                </div>
                <!-- Recent Activities -->
                
              </div>
            </div>
          </section>

	
	 {% endblock %}